<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=PT+Serif&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link href="css\register.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/normalize.css">
        <script src="https://kit.fontawesome.com/2a2d9fceba.js" crossorigin="anonymous"></script>
        <title>Mercado Liebre: Registro</title>
    </head>
<body>
    <header class="main-header">
        <section class="header-tablet-desktop">
            <div class="main-header-top-bar">
                <a href="/" class="logo"><img src="./img/logo-mercado-liebre.svg"></a>
                <div class="search-bar-total">
                    <form class="search-bar" display="inline" method="" action="">
                        <input class="search-input" type="text" placeholder="Buscar productos, marcas">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </form>
                </div>
            </div>
            
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> 
                Comprá en cuotas y sin tarjeta de crédito
            </h2>

        </section>

        <a href="#" class="hamburguer-button">
            <i class="fa-sharp fa-solid fa-bars"></i>
        </a>

        <article class="container-navbar">
            <nav class="main-navbar">
            <ul class="left-navbar">
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/">Tiendas Oficiales</a></li>
                    <li><a href="/">Vender</a></li>
                    <li><a href="/">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="main-navbar">
                <ul class="rigth-navbar">
                    <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/">Mis compras<id class="fas fa-shopping-basket"></id></a></li>
                </ul>
            </nav>
        </article>
    </header>

    <main>
        
        <section class="fondo-main">
            <form action="/" method="POST" class="datos-basicos">

            
                <div>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" class="input-style">
                </div>
                <div>
                    <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" class="input-style">
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="E-mail" required class="input-style"> 
                </div>
           


            
                <div>
                    <h2>Fecha de nacimiento</h2>
                    <input type="date" name="fecha" id="fecha" required class="input-style">
                </div>
                <div>
                    <h2>Domicilio</h2>
                    <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required class="input-style">
                </div>
            

            
                <h2>Perfil del usuario</h2>
                <div class="perfil-usuario">
                    <span class="espacio-input-label">
                        <label for="comprador">Comprador</label>
                        <input type="radio" name="comprador-vendedor" id="comprador" required>
                    </span>
                    <span class="espacio-input-label">
                        <label for="vendedor">Vendedor</label>
                        <input type="radio" name="comprador-vendedor" id="vendedor" required>
                    </span>
                </div>
            

           
                <h2>Intereses</h2>
                <div class="intereses">
                    <span class="espacio-radio">
                        <label for="electro">Electro</label>
                        <input type="checkbox" name="intereses" id="electro">
                    </span>
                    
                    <span class="espacio-radio">
                        <label for="moda">Moda</label>
                        <input type="checkbox" name="intereses" id="moda">
                    </span>

                    <span class="espacio-radio">
                        <label for="hogar">Hogar</label>
                        <input type="checkbox" name="intereses" id="hogar">
                    </span>
                    
                    <span class="espacio-radio">
                        <label for="jugueteria"> Jugueteria</label>
                        <input type="checkbox" name="intereses" id="jugueteria">
                    </span>
                    
                    <span class="espacio-radio">
                        <label for="vida-sana">Vida sana</label>
                        <input type="checkbox" name="intereses" id="vida-sana">
                    </span>
                </div>
           

            
                <article class="article-foto-perfil">
                    <h2>Foto de perfil</h2>
                    <div class="div-foto-perfil">
                        <img src="/img/register-mercado-liebre.jpg" alt="foto-perfil" class="foto-perfil">
                    </div>
                </article>
                <h2>Contraseña</h2>
            
                <div>
                    <input type="password" name="password" id="password" placeholder="Ingrese una contraseña" required class="input-style">
                </div>
                <div>
                    <input type="password" name="password" id="password-repetida" placeholder="Confirme la contraseña" required class="input-style">
                </div>
            

            
                <div>
                    <button type="submit" class="boton">Enviar</button>
                    <button type="reset" class="boton">Borrar</button>
                </div>
            
            

            </form>
        </section>  


    </main>

    <footer class="footer">
        <div> 
            <div class="icon">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div>
            <div class="icon">
                <i class="fa-solid fa-gift"></i>
            </div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div>
            <div class="icon">
                <i class="fas fa-user-shield"></i>
            </div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>

        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>