* {
    box-sizing: border-box;
}

main{
    text-align: center;
    width: 90%;
}

article{
    margin-bottom: 10px;
}

.main-header{
    background-color: #EAC926;
    padding: 20px;
}

.titulares{
    font-size: 24px;
}

.precios{
    font-size: 18px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.hamburguer-button {
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    margin: auto;
}

.logo{
    width: 200px;
}

.copy-header{
    font-weight: 400;
    text-align: center;
}

.main-navbar {
    display: none;
}


.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.icon{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.producto{
    display:block;
    border-top: 1px solid #ebebeb;
}

.footer{
    text-align: center;
}

header div.input {
    background-color: #fff;
    border: 1px solid #000;
    color: darkgrey;
    width: 250px;
    
}


.truck-icon{
    height: 20px;
    width: 20px;
    border: 1px solid #39b54a;
    border-radius: 100%;
    text-align: center;
    color: #39b54a;
    margin: auto;
    
}

.product-image{
    width: 100%;
}

@media (min-width: 768px){
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
        
    }

    .copy-header {
        max-width: 360px;
        text-align: right;
    }

    .hamburguer-button {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
        
    }

    .main-navbar ul {
        display: flex;
    }
}